<!-- create nav below. DO NOT include boiler plate -->

<div class="navBar">
  <img src="/images/logo.png" alt="THE TO-DO APP" />
  <a href="/toDo/">To-Do</a>
  <a href="">About</a>
  <a href="/">Home</a>
</div>
