<% include partials/boilerplate%>
<% include partials/nav%>

<h1 class="indexMainCopy">Welcome to the to-do app!</h1>

<a class="link" href="/toDo/">To-Do's</a>

<% include partials/footer%>

<% include partials/end%>
